/* OСНОВНОЙ ШРИФТ ДЛЯ ВСЕГО ДОКУМЕНТА И ССІЛОК */

body {
  font-family: 'Roboto', sans-serif;
}


/* HEADER */

.header {
  background-color: var(--bg-white-color);
  border: 1px solid #ECECEC;
}

.header-container {
  display: flex; /* выстраивает flex-контейнеры в одну строку родительского блок */
  align-items: center; /* выравнивание flex-контейнеров по центру родительского блока */
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
}

.main-navigation {
  display: flex; /* превращает main-navigation во flex-контейнер */
  align-items: center; /* выравнивание flex-контейнеров по центру родительского блока */
}

.logotype {
  margin-right: 93px; /* отступ справа от logotype до menu-navigation */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.menu-navigation {
  display: flex; /* превращает menu-navigation во flex-контейнер */
}

.navigation-list {
  margin-right: 50px; /* отступ справа между пунктами меню */
}

.navigation-list:last-child {
  margin-right: 0px; /* снимает отступ справа у последнего пункта меню */
}

.navigation-link {
  display: block; /* делает ссылку блочным боксом для того чтобы работали отступы */
  padding-top: 32px; /* увеличение области выделения ссылки */
  padding-bottom: 32px; /* увеличение области выделения ссылки */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.navigation-link.current {
  color: var(--blue-text);
}

.navigation-link:hover {
  color: var(--blue-text);
}

.contacts {
  display: flex; /* превращает contacts во flex-контейнер */
  margin-left: auto; /* перемещает меню конактов в правый край */
}

.contacts-list {
  margin-left: 50px; /* отступ слева между пунктами контактов */
}

.contacts-list:first-child {
  margin-left: 0px; /* снимает отступ слева у последнего пункта контактов */
}

.contacts-link {
  display: block; /* делает ссылку блочным боксом для того чтобы работали отступы */
  padding-top: 32px; /* увеличение области выделения ссылки */
  padding-bottom: 32px; /* увеличение области выделения ссылки */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-text);
}

.contacts-link:hover {
  color: var(--blue-text);
}


/* JOB button*/

.portfolio-container {
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-top: 94px; /* внутренний верхний отступ от родительского блока до дочернего */
  padding-bottom: 94px; /* внутренний нижний отступ от родительского блока до дочернего */
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
}

.buttons {
  display: flex; /* превращает buttons-list во flex-контейнер */
  justify-content: center; /* выравнивание flex-элементов по центру */
}

.buttons-list {
  display: inline-block;
  margin-right: 8px;
}

.buttons-list:last-child {
  margin-right: 0px; /* снимает отступ справа у последнего пункта меню */
}

.job-btn {
  background-color: var(--bg-light-gray-color); /* цвет фона кнопки */
  border: 0px;
  border-radius: 4px;
  padding-left: 22px; /* отступ шрифта от границ кнопки */
  padding-top: 6px; /* отступ шрифта от границ кнопки */
  padding-right: 22px; /* отступ шрифта от границ кнопки */
  padding-bottom: 6px; /* отступ шрифта от границ кнопки */
  min-width: 73px; /* минимальная ширина кнопки */
  color: var(--black-tex); /* цвет шрифта */
  font-style: normal; /* начертание шрифта */
  font-weight: 500; /* насыщеность шрифта */
  font-size: 16px; /* размер шрифта */
  line-height: 26px; /* выравнивание текста по центру */
  text-align: center; /* междустрочное расстояние */
  letter-spacing: 0.03em; /* расстояние между буквами */
  margin-bottom: 50px;
}

.job-btn:hover,
.job-btn:focus,
.job-btn:active {
  background-color: var(--bg-blue-color);
  color: var(--white-text);
}


/* JOB */

.job {
  background-color: var(--bg-white-color);
  display: flex;
  flex-wrap: wrap;
}

.job-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
}

.job-list:nth-child(3n) {
  margin-right: 0px;
}

.job-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.job-name {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.job-type {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}


/* FOOTER */

.footer {
  background-color: var(--bg-blue-color-hero);
}

.footer-container {
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.location {
  display: block;
  margin-top: 0px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.mail-link {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-op60);
}

.tel-link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-op60);
}