/* OСНОВНОЙ ШРИФТ ДЛЯ ВСЕГО ДОКУМЕНТА И ССІЛОК */

body {
  font-family: 'Roboto', sans-serif;
}


/* HEADER */

.header {
  background-color: var(--bg-white-color);
}

.container {
  display: flex; /* выстраивает flex-контейнеры в одну строку родительского блок */
  align-items: center; /* выравнивание flex-контейнеров по центру родительского блока */
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
  border: 1px solid black; /* временная рамка контейнера */
}

.main-nav {
  display: flex; /* превращает main-nav во flex-контейнер */
  align-items: center; /* выравнивание flex-элемента по центру родительского блока */ 
}

.logotype {
  margin-right: 93px; /* отступ справа от main.nav */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.menu {
  display: flex; /* превращает меню навигации во flex-контейнер и выстраивает в одну строку */
}

.menu li {
  margin-right: 50px; /* отступ справа между пунктами меню */
}

.menu li:last-child {
  margin-right: 0px; /* снимает отступ справа у последнего пункта меню */
}

.menu a {
  display: block; /* делает ссылку блочным боксом для того чтобы работали отступы от li */
  padding-top: 32px; /* отступ ссылки от header для hover */
  padding-bottom: 32px; /* отступ ссылки от header для hover */
  color: var(--black-text); /* цвет шрифта */
  font-style: normal; /* начертание шрифта */
  font-weight: 500; /* насыщеность шрифта */
  font-size: 14px; /* размер шрифта */
  line-height: 16px; /* междустрочное расстояние */
  letter-spacing: 0.02em; /* расстояние между буквами */
}

.menu a.current {
  color: var(--blue-text);
}

.menu a:hover {
  color: var(--blue-text);
}

.contacts {
  display: flex; /* превращает меню конактов во flex-контейнер и выстраивает в одну строку */
  margin-left: auto; /* перемещает меню конактов в правый край */
}

.contacts li {
  margin-left: 40px; /* отступ слева между пунктами контактов */
}

.contacts li:first-child {
  margin-left: 0px; /* снимает отступ слева у последнего пункта контактов */
}

.contacts a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-text);
}

.contacts a:hover {
  color: var(--blue-text);
}


/* HERO */

.hero {
  background-color: var(--bg-blue-color-hero);
  text-align: center; /* выравнивание текста внутри родителя по центру */
}

.hero-title {
  margin-top: 0; /* убирает отступы у hero-title что бы не пробивало и не отодвигало соседние блоки */
  margin-bottom: 40px; /* отступ hero-title от button-primary */
  color: var(--white-text);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-primary {
  background-color: var(--bg-blue-color); /* цвет фона кнопки */
  display: inline-block; /* делает ссылку блочно-строчным боксом для того чтобы работали отступы от других блоков */
  border-radius: 4px; /* закругление границ кнопки */
  padding-left: 32px; /* отступ шрифта от границ кнопки */
  padding-top: 10px; /* отступ шрифта от границ кнопки */
  padding-right: 32px; /* отступ шрифта от границ кнопки */
  padding-bottom: 10px; /* отступ шрифта от границ кнопки */
  min-width: 200px; /* минимальная ширина кнопки */
  color: var(--white-text); /* цвет шрифта */
  font-style: normal; /* начертание шрифта */
  font-weight: bold; /* насыщеность шрифта */
  font-size: 16px; /* размер шрифта */
  text-align: center; /* выравнивание текста по центру */
  line-height: 30px; /* междустрочное расстояние */
  letter-spacing: 0.06em; /* расстояние между буквами */
}


/* ADVANTAGES */

.advantages {
  background-color: var(--bg-white-color);
}

.advantages-container {
  display: flex; /* превращает advantages-list во flex-контейнер и выстраивает в одну строку */
  justify-content: space-between; /* равномерно распределяет все элементы по ширине flex-блока, первый элемент вначале, последний в конце */
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
  padding-top: 94px; /* внутренний отступ в advantages-container до края hero-container */
  padding-bottom: 94px; /* внутренний отступ в advantages-container до края services-container */
  border: 1px solid black; /* временная рамка контейнера */
}

.advantages-item {
  width: 270px; /* ширина контейнера */
}

.subtitle {
  margin-top: 0px; /* отступ от края текста */
  margin-bottom: 10px; /* отступ до края текста */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.list {
  margin-top: 0px; /* отступ от края текста */
  margin-bottom: 0px; /* отступ от края текста */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}


/* SERVICES */

.services {
  background-color: var(--bg-white-color);
}

.services-container {
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
  border: 1px solid black; /* временная рамка контейнера */
}

.services-title {
  margin-top: 0px; /* внутренний отступ от services-title до края services-container */
  margin-bottom: 50px; /* внутренний отступ от services-title до края services-list */
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center; /* выравнивание текста по центру */
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.services-list {
  display: flex; /* превращает services-list во flex-контейнер и выстраивает в одну строку */
  justify-content: space-between; /* равномерно распределяет флекс-элементы вдоль главной оси */
  margin-bottom: 94px; /* внутренний отступ от services-title до края services-list */
}


/* TEAM */

.team {
  background-color: var(--bg-light-gray-color);
}

.team-container {
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px; /* внутренний отступ от team-title до края team-list */
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team-list {
  display: flex; /* превращает team-list во flex-контейнер и выстраивает в одну строку */
  justify-content: space-between; /* равномерно распределяет флекс-элементы вдоль главной оси */
}

.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px
}

.master-name {
  margin-top: 30px; /* внутренний отступ */
  margin-bottom: 10px; /* внутренний отступ */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.master-position {
  margin-top: 0px; /* внутренний отступ */
  margin-bottom: 30px; /* внутренний отступ */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}


/* FOOTER */

.footer {
  background-color: var(--bg-blue-color-hero);
}

.footer-container {
  width: 1230px; /* ширина контейнера */
  padding-left: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-right: 15px; /* чтобы не сливался контент с вьюпортом */
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto; /* центрирование контейнера */
  margin-right: auto; /* центрирование контейнера */
}

.footer-list {
  padding-left: 215px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.location {
  display: block;
  margin-top: 0px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.mail-link {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-op60);
}

.tel-link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-op60);
}